node_modules/

/generated/prisma

./package-lock.json
dist/
.env
.DS_Store
.vscode/
.idea/
*.log
*.tmp
coverage/
*.bak
*.swp
*.swo
*.class
*.jar
*.war
*.ear
*.iml
*.out
*.exe
*.dll
*.so
*.dylib
*.zip
*.tar.gz
*.7z
*.rar
